
path {
  fill: #000;
  stroke: #000;
  stroke-width: 0.5;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: text-animation 1s ease-in-out forwards;
}

@keyframes text-animation {
  100% {
    stroke-dashoffset: 0;
  }
}  */

path .animated {
  fill: #84c19a;
  stroke: #670404;
  stroke-width: 5;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: text-animation 1s ease-in-out forwards;
  animation-delay: 0.5s;

}

.path {
  fill: #000;
  stroke: #000;
  stroke-width: 0.5;/*  */
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;

}

/* .cls-1{fill:#c9dee0;}
.cls-2{fill:#395362;}
.cls-3{fill:#ba3f71;} */